.btn {
    background-color: $flamingo;
    border-radius: 0.15em;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-family: $font-heading;
    outline: 0;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    transition: background 500ms;

    &:hover, &:active, &:focus {
        background: darken($flamingo, 5%);
        color: $white;
        text-decoration: none;
    }
}

.btn--secondary {
    background-color: transparent;
    border: 0.0625em solid;
    padding: 0.25em 0.75em;
}

// dull brand color secondary btn
.btn--secondary--dull {
    border-color: $oxford;
    color: $oxford;

    &:hover, &:active, &:focus {
        background: $oxford;
    }
}

// bright brand color secondary btn
.btn--secondary--bright {
    border-color: $white;

    &:hover, &:active, &:focus {
        background: $white;
        color: $flamingo;
    }
}
