[class*="btn"] {
    font-family: $font-heading;
    color: $white;
    outline: 0;
    cursor: pointer;
    display: inline-block;
    background-color: $primary;
    border-radius: 0.15em;
    border: none;
    padding: 0.5em 1em;
    transition: background 500ms;
    text-align: center;
    text-decoration: none;
    &:hover {
        background: lighten($primary, 6%);
        color: $white;
        text-decoration: none;
    }
}

.btn-full {
    width: 100%;
}
