$font-body-color: #333;
$fiord: #3f5866;
$oxford: #293b42;
$flamingo: #f05623;
$fiord-darken: darken($fiord, 5%);
$jungle-green: #29a397;
$white: #fff;
$alto: #dddddd;
$brick: #b73730;
$sea: #028770;
$detroit: #D5D8DA;
$cloudy-day: #DDDDDD;
$ice: #146aa3;
