// Base Colors
$font-body-color: #333;
$link-color: $font-body-color;
$primary: #349dc0;
$link-color-interaction: $primary;

// Default colors
$white: #fff;
$light-grey: #dedede;
$grey: #aaa;

$brand: #d5161e;
$muted: #B8B8B8;
