$font-body-color: #333;
$fiord: #3f5866;
$oxford: #293b42;
$flamingo: #f05623;
$fiord-darken: darken($fiord, 5%);
$jungle-green: #29a397;
$white: #fff;
$ziggurat: #bcd6e1;
$alto: #dddddd;
$torch: #FF242D;
$jade: #00B256;
$jade-light: #A3EAC6;
