// Apply this class to <ul> that have forms
.form-fields {
    @extend .list--y;
    li {
        @include clearfix;
    }
    input[type="text"], input[type="email"], input[type="password"],
    input[type="tel"], select, .text-input {
        outline: 0;
        padding: 0.5em;
        width: 100%;
        position: relative;
        background: $white;
        border: 0.125em solid $alto;
        border-radius: 0.3125em;
        box-sizing: border-box;
        transition: background 500ms;
        &:focus, &:active {
            border: 0.125em solid $fiord;
            background: lighten($fiord, 50%);
        }
    }
}

// You can use .field-label for items that are not labels
.form-fields label, .field-label {
    text-align: left;
    display: block;
    font-weight: bold;
}

// space out all checkboxes/radios
input[type="checkbox"], input[type="radio"] {
    margin-right: 0.5em;
}

// crazyness for transparent form fields...needs cleaning....
.form-fields--blank {
    list-style-type: none;
    margin: 0;
    padding: 0;
    input[type="text"], input[type="email"], input[type="password"],
    input[type="tel"], select, .text-input {
        outline: 0;
        width: 100%;
        position: relative;
        background: transparent;
        box-sizing: border-box;
        border: 0;
        &:focus, &:active, &:hover {
            border: 0;
            outline: 0;
            background: transparent;
            box-shadow: 0;
        }
    }
    .delta {
        cursor: grab;
    }
}

// protoyping fastly writen code that needs cleaning
select {
    outline: 0;
    width: 100%;
    font-weight: bold;
    position: relative;
    background: $white;
    border: 0.125em solid $alto;
    border-radius: 0.3125em;
    box-sizing: border-box;
    &:focus, &:active {
        border: 0.125em solid $fiord;
        background: lighten($fiord, 50%);
    }
}
