h1, h2, h3, h4, h5, h6 {
    @extend %font--heading;
    color: #333;
    margin-top: 0;
    margin-bottom: 0.5em;
}

h1, .alpha {
  font-size: $h1-size;
}

h2, .beta {
  font-size: $h2-size;
}

h3, .gamma {
  font-size: $h3-size;
}

h4, .delta {
  font-size: $h4-size;
}

h5, .epsilon {
  font-size: $h5-size;
}

h6, .zeta {
  font-size: $h6-size;
}

.heading-brand {
    font-family: $font-heading-brand;
    color: $fiord;
}

.heading-underline  {
    text-align: center;
    border-bottom: 0.2em solid rgb(52, 157, 192);
}
