$susy: (
  columns: 12,
  container: 100%,
  global-box-sizing: border-box
);

// susy includes border-box properties
@include border-box-sizing;

html, body {
  height: 100%;
  @extend %font--body;
}

.site-container {
  @include container;
  @include clearfix;
  background: $athens-gray;
  padding-left: 0.5em;
  padding-right:0.5em;
  min-height: 100%;
  margin-bottom: 1em;
  @media (min-width: 30em) {
      padding-left: 2em;
      padding-right:2em;
  }
}

// sticky footer
.site-footer {
    @include container(12 of 12 omega);
    height: 7em;
    background: $oxford;
    color: $white;
}

// layout content piece container
.tier {
    @include clearfix;
    @include span(12 of 12 omega);
}

.tier-padded {
    @extend .tier;
    padding: 1em;
}

// 1/3
.panel {
    @extend .tier;
    @media (min-width: 40em) {
        @include span(6 of 12);
    }
    @media (min-width: 60em) {
        @include span(4 of 12);
    }
    &.last {
        @include omega;
    }
}

// 1/2
.panel-half {
    @extend .tier;
    @media (min-width: 40em) {
        @include span(6 of 12);
    }
    &.last {
        @include omega;
    }
}

// 1/3 centered
.panel--middle {
    @extend .tier;
    @media (min-width: 40em) {
        @include span(4 of 12);
        @include squish(4 of 12);
    }
}

.aside-right {
    float: right;
}
