$susy: (
  columns: 12,
  container: 100%,
  global-box-sizing: border-box
);

// susy includes border-box properties
@include border-box-sizing;

html, body {
  height: 100%;
  @extend %font--body;
  @include container;
}

.site-container {
  @include clearfix;
  padding:  0 0.5em;
  min-height: 100%;
  margin-bottom: 1em;
}

.site-header {
    @include clearfix;
    padding: 0.5em;
    margin-bottom: 1em;
    background: $oxford;
    color: $white;
    a {
        color: $white;
        display: inline-block;
        &:hover,
        &:active,
        &:focus {
            color: $white;
            text-decoration: none;
        }
    }
}

.tier {
    @include clearfix;
    @include span(12 of 12 omega);
}

.tier-padded {
    @extend .tier;
    padding: 1em;
}

// 1/3
.panel {
    @extend .tier;
    @media (min-width: 40em) {
        @include span(6 of 12);
    }
    @media (min-width: 60em) {
        @include span(4 of 12);
    }
    &.last {
        @include omega;
    }
}

// 1/2
.panel-half {
    @extend .tier;
    @media (min-width: 40em) {
        @include span(6 of 12);
    }
    &.last {
        @include omega;
    }
}

// 1/3 centered
.panel--middle {
    @extend .tier;
    @media (min-width: 40em) {
        @include span(4 of 12);
        @include squish(4 of 12);
    }
}

.aside-right {
    float: right;
}

.aside-left {
    float: left;
}

// general class to add brand color to elements
.brand-color {
    color: $flamingo;
    fill: $flamingo;
}

.divided-copy {
    border-right: 0.125em solid $white;
    padding-right: 1.5em;
}

.copy-inverse {
    color: $white;
}
