*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  @extend %font--body;
  box-sizing: border-box;
}

body {
  @include container(12);
  @include clearfix;
  min-height: 100%;
  background: $primary;
}

.main-container {
    @include clearfix;
    @include span(12 of 12);
    background: #fff;
    @media (min-width: 50em) {
        @include span(6 of 12);
        margin-left: span(6 of 12);
    }
}

.main-container-title {
    padding: 0.5em;
    background: $link-color;
    margin-bottom: 1.5em;
}

.main-container-title-header {
    color: white;
    margin-bottom: 0;
}

.main-container-content {
    padding: 1em;
}

main {
    @include clearfix;
    padding: 0.5em;
}
