*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  @extend %font--body;
  box-sizing: border-box;
}

.site-container {
  @include container(12 omega);
  @include clearfix;
  padding-left: 0.5em;
  padding-right:0.5em;
  min-height: 100%;
  @media (min-width: 30em) {
      padding-left: 2em;
      padding-right:2em;
  }
}

.main-container {
    @include clearfix;
    @include span(12 of 12 omega);
}

.main-container-padded {
    @extend .main-container;
}

.brand-bg {
    background: $link-color;
    text-align: center;
    h1 {
        color: $white;
    }
}

.main-container-half {
    @include clearfix;
    @include span(12 of 12 omega);
    @media (min-width: 40em) {
        @include span(6 of 12);
        &:last-child {
            @include omega;
        }
    }
}

.main-container-half-media {
    @extend .main-container-half;
    padding: 4em;
}

main {
    @include clearfix;
}
