a {
    color: $fiord;
    text-decoration: none;
    outline: none;
    transition: color 0.2s ease-in;
    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
        color: $fiord-darken;
    }
}
