// Use for lists you wish to make vertical
.y-list {
  @include clearfix;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.y-list > li {
    margin-bottom: 1.5em;
}

// Use for lists you wish to make horizontal
.x-list {
  @extend .y-list;
  li {
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.x-list > li {
    margin-bottom: 0;
}

.y-list-color {
    @include clearfix;
    @extend .y-list;
    float: left;
    width: 100%;
    font-size: 1.25em;
    li {
        margin-bottom: 0.5em;
        cursor: pointer;
        transition: background 500ms;
        background: $primary;
        border-radius: 0.15em;
        &:hover {
            background: lighten($primary, 5%);
        }
        a {
            padding: 1em 0em;
            text-align: center;
            color: $white;
            display: block;
            text-transform: uppercase;
            font-weight: bold;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

// Use for tabbed list
.board-tabs {
    padding:0.5 0;
    display: table;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background: $white;
    width: 100%;
    list-style: none;
    li {
        @media (min-width: 40em) {
            display: inline-block;
            margin-right: 1.5em;
            margin-bottom: 0;
            .board-tab-full {
                margin-top: 0.5em;
                float: left;
                width: 100%;
                margin-right: 0;
            }
            .btn {
                margin-top: 0.5em;
            }
        }
    }
    select, label, a {
        font-weight: bold;
        outline: none;
        border-radius:  0.1875em;
        padding: 0.5em;
        display: inline-block;
    }
    .active {
        color: $link-color-interaction;
    }
}
