// Use for lists you wish to make vertical
.y-list {
  @include clearfix;
  list-style-type: none;
  margin: 0;
  padding: 0;
  > li {
      @include clearfix;
      margin-bottom: 1.5em;
  }
}

// Use for lists you wish to make horizontal on larger screens
.x-list {
  @extend .y-list;
  li {
      padding-left: 0.5em;
      padding-right: 0.5em;
      display: block;
      margin-bottom: 1em;
  }
  @media (min-width: 40em) {
      li {
        display: inline-block;
        margin-bottom: 0;
      }
  }
}

.y-list-color {
    @include clearfix;
    @extend .y-list;
    float: left;
    width: 100%;
    font-size: 1.25em;
    li {
        margin-bottom: 0.5em;
        cursor: pointer;
        transition: background 500ms;
        background: $primary;
        border-radius: 0.15em;
        &:hover {
            background: lighten($primary, 5%);
        }
        a {
            padding: 1em 0em;
            text-align: center;
            color: $white;
            display: block;
            text-transform: uppercase;
            font-weight: bold;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

// Use for tabbed list
.board-tabs {
    padding: 0.5em 0;
    display: table;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background: $white;
    width: 100%;
    list-style: none;
    li {
        @media (min-width: 40em) {
            display: inline-block;
            margin-right: 1.5em;
            margin-bottom: 0;
            .text-input, select {
                outline: 0;
                padding: 0.5em;
                background: $white;
                border: 0.125em solid $grey;
                border-radius: 0.3125em;
                &:focus {
                    border: 0.125em solid $link-color-interaction;
                    background: lighten($primary, 50%);
                }
            }
        }
    }
    select, label, a {
        font-weight: bold;
        outline: none;
        border-radius:  0.1875em;
        padding: 0.5em;
        display: inline-block;
    }
    .active {
        color: $link-color-interaction;
    }
}
