// Use for lists you wish to make vertical
.list--y {
    @include clearfix;
    list-style-type: none;
    margin: 0;
    padding: 0;
    > li {
        @include clearfix;
        margin-bottom: 1.5em;
    }
}

// Use for lists you wish to make horizontal on larger screens
.list--x {
    @extend .list--y;
    li {
        padding-left: 0.5em;
        padding-right: 0.5em;
        display: block;
        margin-bottom: 1em;
    }
    @media (min-width: 40em) {
        li {
            display: inline-block;
            margin-bottom: 0;
        }
    }
}

// what is this i need to fix this
// modified list--x
.list--x--inline {
    @include clearfix;
    @extend .list--x;
    label {
        display: inline-block;
    }
    li {
        padding-left: 0;
        display: inline-block;
        margin-bottom: 0;
    }
}

// modified list--y
.list--y--bg {
    @include clearfix;
    @extend .list--y;
    float: left;
    width: 100%;
    font-size: 1.25em;
    font-family: $font-heading;
    li {
        position: relative;
        margin-bottom: 0.5em;
        cursor: pointer;
        transition: background 500ms;
        background: $oxford;
        border-radius: 0.15em;
        &:hover {
            background: lighten($oxford, 5%);
        }
        a {
            padding: 0.5em 1em;
            color: $white;
            display: block;
            &:hover, &:active, &:focus {
                text-decoration: none;
            }
        }
        .editable-click {
            color: $white;
        }
    }
}

// used when you want to show a delete overlay
.list--y--bg-delete {
    background: $brick;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0.5em 1em;
    animation-name: animate-slide-right;
}

.list--y--bg__item-muted {
    background: $storm;
    &:hover {
        background: lighten($storm, 5%);
    }
}

.list--y--bg__item-dark {
    background: $font-body-color;
    &:hover {
        background: lighten($font-body-color, 5%);
    }
}
