<div ng-controller="HeaderCtrl">
    <div class="slide-out" data-ng-show="menuToggle" data-ng-class="{'close-slide-right': !menuToggle, 'slide-right': menuToggle }">
        <ul class="y-list">
            <li>
                <a href="/">
                    <svg class="icon-logo">
                        <desc>Logo</desc>
                        <use xlink:href="#lucidboard"></use>
                    </svg>
                </a>
                <a href="#" data-ng-click="menuToggle = !menuToggle" class="aside-right">
                    <svg class="icon-standard" fill="#ffffff">
                        <desc>Site menu icon</desc>
                        <use xlink:href="#site-menu"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="/boards">
                    All Boards
                </a>
            </li>
            <li>
                <a href="" data-ng-click="signout($event)">
                    Sign Out
                </a>
            </li>
            <li data-ng-if="showBoardNav">
                <a href="#" data-ng-click="switchTab('trash')" data-ng-class="{dropready:cardDragging, active:currentTab === 'trash'}"
                    data-ui-on-drop="moveSlot($event, $data, board.trash().cardSlots, board.trash().id,
                    board.nextPositionByColumnId(board.trash().id))">
                    <svg class="icon-standard aside-left" data-ng-hide="board.trashIsEmpty()">
                        <desc>Full Trash</desc>
                        <use xlink:href="#trash"></use>
                    </svg>
                    <svg class="icon-standard aside-left" data-ng-show="board.trashIsEmpty()">
                        <desc>Empty Trash</desc>
                        <use xlink:href="#empty-trash"></use>
                    </svg>
                    ({{board.trash().cardSlots.length}})
                </a>
            </li>
        </ul>
    </div>
    <div class="tier small-view" data-ng-if="showBoardNav">
        <div class="tier mbm">
            <a href="#" class="aside-left" data-ng-click="menuToggle = !menuToggle">
                <svg class="icon-standard" fill="#ffffff">
                    <desc>Site menu icon</desc>
                    <use xlink:href="#site-menu"></use>
                </svg>
            </a>
            <a href="#" class="aside-left" data-ng-click="switchTab('board')" data-ng-class="{active:currentTab === 'board'}">
                <h1 class="delta copy-inverse heading-small-height mbn">
                    {{board.title()}}
                </h1>
            </a>
        </div>
        <div class="tier">
            <ul class="x-list-small">
                <li>
                    <a href="#">
                        <select class="select-clear copy-inverse" id="viewSections" data-ng-options="columnView.label for columnView in columnViews" data-ng-model="columnViewSelected"></select>
                    </a>
                </li>
                <li>
                    <a href="#" data-ng-click="showTimerForm = !showTimerForm">
                        <svg class="aside-left icon-standard" fill="#ffffff">
                            <desc>Board Clock Timer Icon</desc>
                            <use xlink:href="#clock"></use>
                        </svg>
                        {{timer.remaining | formatTime}}
                    </a>
                    <input data-ng-show="showTimerForm" class="text-input" id="timerMinutesInput" name="timerMinutesInput" type="text" size="4"
                           data-ng-model="timerMinutesInput">
                    <button data-ng-show="showTimerForm" data-ng-click="timerStart(timerMinutesInput)" class="btn">
                        Start
                    </button>
                </li>
                <li>
                    <a href="#" data-ng-show="board.votesPerUser() !== 0">
                        <svg class="aside-left icon-standard" fill="#ffffff">
                            <desc>Vote icon</desc>
                            <use xlink:href="#vote"></use>
                        </svg>
                        {{board.votesRemaining()}}
                    </a>
                </li>
                <li>
                    <a href="#" data-ng-click="switchTab('settings')" data-ng-class="{active:currentTab === 'settings'}">
                        <svg class="aside-left icon-standard" fill="#ffffff">
                            <desc>Board Settings Icon</desc>
                            <use xlink:href="#settings"></use>
                        </svg>
                        Settings
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tier large-view">
        <div class="tier">
            <a href="/boards" class="aside-left">
                <svg class="icon-logo">
                    <desc>Logo</desc>
                    <use xlink:href="#lucidboard"></use>
                </svg>
            </a>
            <ul class="x-list-small aside-right">
                <li>
                    <a class="divided-copy" href="/boards">
                        All Boards
                    </a>
                </li>
                <li>
                    <a href="#" data-ng-click="signout($event)">
                        Sign Out
                    </a>
                </li>
            </ul>
        </div>
        <div data-ng-if="showBoardNav" class="tier">
            <a href="#" class="aside-left" data-ng-click="switchTab('board')" data-ng-class="{active:currentTab === 'board'}">
                <h1 class="epsilon copy-inverse mbn">
                    {{board.title()}}
                </h1>
            </a>
            <ul class="x-list-small aside-right">
                <li>
                    <button class="btn">
                        <select class="select-clear copy-inverse" id="viewSections" data-ng-options="columnView.label for columnView in columnViews" data-ng-model="columnViewSelected"></select>
                    </button>
                </li>
                <li>
                    <a href="#" class="btn" data-ng-click="showTimerForm = !showTimerForm">
                        <svg class="aside-left icon-standard" fill="#ffffff">
                            <desc>Board Clock Timer Icon</desc>
                            <use xlink:href="#clock"></use>
                        </svg>
                        {{timer.remaining | formatTime}}
                    </a>
                    <input data-ng-show="showTimerForm" class="text-input" id="timerMinutesInput" name="timerMinutesInput" type="text" size="4"
                        data-ng-model="timerMinutesInput">
                    <button data-ng-show="showTimerForm" data-ng-click="timerStart(timerMinutesInput)" class="btn">
                        Start
                    </button>
                </li>
                <li>
                    <a href="#" class="btn" data-ng-show="board.votesPerUser() !== 0">
                        <svg class="aside-left icon-standard" fill="#ffffff">
                            <desc>Vote icon</desc>
                            <use xlink:href="#vote"></use>
                        </svg>
                        {{board.votesRemaining()}}
                    </a>
                </li>
                <li>
                    <a href="#" class="btn">
                        <svg class="aside-left icon-standard" fill="#ffffff">
                            <desc>Fullscreen icon</desc>
                            <use xlink:href="#fullscreen"></use>
                        </svg>
                        Fullscreen
                    </a>
                </li>
                <li>
                    <a href="#" class="btn" data-ng-click="switchTab('settings')" data-ng-class="{active:currentTab === 'settings'}">
                        <svg class="aside-left icon-standard" fill="#ffffff">
                            <desc>Board Settings Icon</desc>
                            <use xlink:href="#settings"></use>
                        </svg>
                        Settings
                    </a>
                </li>
                <li>
                    <a href="#" class="btn" data-ng-click="switchTab('trash')" data-ng-class="{dropready:cardDragging, active:currentTab === 'trash'}"
                        data-ui-on-drop="moveSlot($event, $data, board.trash().cardSlots, board.trash().id,
                        board.nextPositionByColumnId(board.trash().id))">
                        <svg class="aside-left icon-standard" fill="#ffffff" data-ng-hide="board.trashIsEmpty()">
                            <desc>Trash Full Icon</desc>
                            <use xlink:href="#trash"></use>
                        </svg>
                        <svg class="aside-left icon-standard" fill="#ffffff" data-ng-show="board.trashIsEmpty()">
                            <desc>Trash Empty Icon</desc>
                            <use xlink:href="#empty-trash"></use>
                        </svg>
                        View Trash
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
