<header data-ng-controller="HeaderCtrl"
  class="tier site__header"
  data-ng-class="{'site__header--muted':board.archived,'site__header--dark':board.private}"
  data-ng-include="headerUrl">
</header>
<modal-dialog
    data-ng-controller="ReconnectingModalCtrl"
    data-show="view.modal.reconnecting.show"
    data-closeable="false">
</modal-dialog>
<main class="site__container" data-ui-view></main>
<footer class="site__footer" data-ng-include="footerUrl"></footer>
