<header data-ng-controller="HeaderCtrl"
  class="tier site-header item-fixed"
  data-ng-class="{'site-header--muted':board.archived,'site-header--dark':board.private}"
  data-ng-include="headerUrl">
</header>
<main class="site-container" data-ui-view></main>
<footer class="site-footer" data-ng-include="footerUrl"></footer>
<modal-dialog
  data-ng-controller="ReconnectingModalCtrl"
  data-show="view.modal.reconnecting.show"
  data-closeable="false"
  >
  <svg class="icon-middle" fill="#333333">
      <desc>Loading icon</desc>
      <use xlink:href="#loading"></use>
  </svg>
  <h3>Re-establishing server connection...</h3>
</modal-dialog>
