.show, .open {
    display: block;
}

.hide {
    display: none;
}

.mtn {
    margin-top: 0;
}

.mtm {
    margin-top: 0.5em;
}

.mbn {
    margin-bottom: 0;
}

.mbm {
    margin-bottom: 0.5em;
}

.mbs {
    margin-bottom: 0.25em;
}

.mlm {
    margin-left: 0.5em;
}

// Branding classes
.brand-underline {
    border-bottom: 0.1875em solid $oxford;
    margin-bottom: 0.5em;
}

.underline  {
    border-bottom: 0.2em solid $oxford;
}
