.show, .open {
    display: block;
}

.center {
    margin: 0 auto;
}

.hide {
    display: none;
}

.mtn {
    margin-top: 0;
}

.mts {
    margin-top: 0.25em;
}

.mtm {
    margin-top: 0.5em;
}

.mbn {
    margin-bottom: 0;
}

.mbm {
    margin-bottom: 0.5em;
}

.mbxl {
    margin-bottom: 1.5em;
}

.mbs {
    margin-bottom: 0.25em;
}

.mls {
    margin-left: 0.25em;
}

.mlm {
    margin-left: 0.5em;
}

.mrm {
    margin-right: 0.5em;
}

.ptm {
    padding-top: 0.5em;
}

.ptl {
    padding-top: 1em;
}

.plm {
    padding-left: 0.5em;
}

.prm {
    padding-right: 0.5em;
}

// Branding classes
.brand-underline {
    border-bottom: 0.1875em solid $oxford;
}

.underline  {
    border-bottom: 0.2em solid $oxford;
}

.aside-right {
    float: right;
}

.aside-left {
    float: left;
}

.divided-copy {
    border-right: 0.125em solid $white;
    padding-right: 1em;
}

// ensures inverse color of copy
.copy-inverse {
    color: $white;
    &.editable-click {
        color: $white;
        &:hover {
            color: $white;
        }
    }
}

.active {
    background-color: $storm;
}
