.show, .open {
    display: block;
}

.hide {
    display: none;
}

.mtn {
    margin-top: 0;
}

.mbn {
    margin-bottom: 0;
}

.mbm {
    margin-bottom: 0.5em;
}

.mlm {
    margin-left: 0.5em;
}

// Branding classes
.brand-underline {
    border-bottom: 0.1875em solid $fiord;
    margin-bottom: 0.5em;
}
