// Slides piece to the right
@keyframes slide-right {
    0% {
        transform: translateX(-50%);
    }
}

@keyframes pop {
    100% {
        transform: scale(1.25);
    }
}

.animate-slide-right {
    animation-name: slide-right;
    animation-duration: 400ms;
    animation-timing-function: ease-out;
}

.animate-pop {
    animation-duration: 400ms;
    animation-name: pop;
}
