// This is all previously written scss

.board {
    @include clearfix;
    @include span(12 of 12 omega);
    background: #fff;
}

.board-header {
    @include clearfix;
    @include span(12 of 12 omega);
    h2 {
        margin-bottom: 0;
    }
}

.board-info {
    @include clearfix;
    float: right;
}

.tabs {
    padding-bottom: 0.5em;
    padding-left: 0;
    display: table;
    margin-bottom: 1.5em;
    width: 100%;
    list-style: none;
    border-bottom: 0.0625em solid #333;
    li {
        float: left;
        width: 100%;
        &:last-child {
            border-right: 0;
        }
        @media (min-width: 40em) {
            float: left;
            width: auto;
            margin-right: 1.5em;
        }
    }
    a {
        font-weight: bold;
        display: block;
        outline: none;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        color: #333;
        &:hover {
            color: $link-color;
            path {
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                fill: $link-color;
            }
        }
        path {
            &:hover {
                fill: $link-color;
            }
        }
    }
    .active {
        color: $link-color;
        .icon-left path {
            fill: $link-color;
        }
    }
}

.columns {
    @include clearfix;
    @include span(12 of 12 omega);
    @media (min-width: 40em) {
        display: table;
        table-layout: fixed;
    }
}

.column {
    padding: 0 0.3125em;
    width: 100%;
    @media (min-width: 40em) {
        display: table-cell;
    }
}

.panel-board-settings {
    background: #fff;
    @include span(12 of 12 omega);
    padding: 1em;
}

.panel-board-settings-half {
    @media (min-width: 40em) {
        @include span(6 of 12);
    }
    @media (min-width: 60em) {
        @include span(4 of 12);
    }
}

.card {
    @include clearfix;
    padding: 1em;
    cursor: pointer;
    border-radius: 0.3125em;
 }

.card .cardcontent pre {
    font-size: 1em;
    font-family: $font-body;
    margin: 0;
    padding: 0;
}

.card .handle {
    font-size: small;
    float: right;
    margin: 0;
}

.card .attached-cards {
    float: left;
    background-color: #333;
    color: white;
    border-radius: 0.8em;
    font-weight: bold;
    font-size: 0.5em;
    padding: 0.1875em;
    width: 2em;
    text-align: center;
}

[card="card"] {
    @include clearfix;
    display: block;
}

.card.on-drag-hover {
    border-top: 0.125em dashed #eee;
    border-left: 0.125em dashed #eee;
    border-bottom: 0.125em dashed #eee;
    border-right: 0.125em dashed #eee;
 }

.cardjunction {
    height: 6px;
}

.cardjunction.top {
    height: 0;
}

.cardjunction.active {
    height: 12px;
}

.cardjunction.on-drag-hover {
    background-color: #ccc;
}

.slate-card {
    border-left: 3px solid $link-color;
    border-radius: 3px;
    background-color: #C4D9F0;
}

.editable-empty, .editable-click {
     border: 0;
     color: #333;
     &:hover {
         color: lighten(#333, 10%);
     }
}

.editable-buttons {
    display: block;
    margin: 0.5em 1.5em;

    .btn-default {
        width: 2em;
        height: 1em;
        background-image: url('/images/cross.svg');
        background-repeat: no-repeat;
        background-size: 2em 1em;
        background-position: center;
        padding: 1.5em;
    }

    .btn-primary {
        @extend .btn-default;
        background-image: url('/images/checkmark.svg');
        background-size: 30px 14px;
        background-color: rgb(255, 155, 0);
        &:hover {
            background-color: lighten(#FCB03A, 6%);
        }
    }
}

.editable-input {
    &.editable-has-buttons {
        width: 100%;
    }
}

.trash {
    @include span(12 of 12 omega);
    background: #fff;
}

.trash .card {
    width: 32%;
    float: left;
    margin-right: 0.25em;
}
