// Column container displays as table for screens >70em
.column-container {
    width: 100%;
    @media (min-width: 65em) {
        display: table;
        table-layout: fixed;
    }
    .column {
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

// Individual columns
.column {
    position: relative;
    padding: 0 0.75em;
    margin-bottom: 1.5em;
    @media (min-width: 70em) {
        display: table-cell;
    }
}

.column__title {
    font-size: 1.5em;
}

// classes related to the plugin
.editable-click {
    color: $font-body-color;
    border-bottom: 0;
    &:hover, &:active, &:focus {
        color: initial;
        border-bottom-color: $white;
    }
}

.editable-input {
    &.editable-has-buttons {
        width: 96%;
        outline: 0;
        border: 0;
        background: transparent;
        resize: none;
    }
}

.editable-wrap .editable-controls > input {
    @extend %font__heading;
    font-size: $h4-size-large;
    padding: 0;
    outline: 0;
    background: transparent;
    box-sizing: border-box;
    border: 0;
}

.editable-controls, .editable-wrap {
    width: 100%;
}

.trash {
    @include clearfix;
    @include span(12 of 12 omega);
    @media (min-width: 70em) {
        @include span(4 of 12);
    }
}

.columnjunction {
    display: table-cell;
    width: 0.6em;
    transition: all 0.2s ease-in-out;
    &.on-drag-hover {
        width: 5em;
        border: 0.125em dashed $storm;
    }
}

.board-menu {
    z-index: 998;
    background: $white;
    position: absolute;
    right: 0;
    top: 80%;
    border: 0.04em solid $cloudy-day;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0.125em 0.5em 0;
    a {
        display: block;
        color: $fiord;
        &:hover,
        &:active,
        &:focus {
            color: $fiord-darken;
        }
    }
    li {
        cursor: pointer;
        padding: 0.5em 1em 0.5em 0.5em;
        margin-bottom: 0;
        border: 0.0625em solid $cloudy-day;
        transition: background 0.2s ease-in-out;
        &:hover {
            background: darken($white, 5%);
        }
        &:last-child {
            border-bottom: 0;
        }
    }
}

.clear-title {
    .editable-controls input {
        color: $white;
        font-size: 1.52778em;
        line-height: 1.5;
    }
    .form-inline {
        float: left;
        width: auto;
    }
}

.clear-title--settings {
    @include clearfix;
    .editable-controls input {
        font-size: inherit;
    }
}
