// Column container displays as table for screens >70em
.column-container {
    @extend .tier;
    @media (min-width: 70em) {
        display: table;
        table-layout: fixed;
    }
    .column:first-child {
        padding-left: 0;
    }
    .column:last-child {
        padding-right: 0;
    }
}

// Individual columns
.column {
    padding: 0 0.5em;
    width: 100%;
    margin-bottom: 1.5em;
    @media (min-width: 70em) {
        display: table-cell;
    }
}

.card {
    @include clearfix;
    cursor: grab;
    border-radius: 0.15em;
    font-weight: bold;
    .cardcontent pre {
        font-family: $font-body;
        margin: 0;
        padding: 1em;
        font-style: normal
    }
    &:active {
        cursor: grabbing;
    }
 }

.handle {
    padding: 0.5em;
    float: right;
    margin: 0;
    transition: all 0.2s ease-in;
    &:hover, &:active, &:focus {
        color: $fiord;
        fill: $fiord;
    }
}

.card .attached-cards {
    float: left;
    background-color: $font-body-color;
    color: white;
    border-radius: 0.15em;
    font-weight: bold;
    font-size: 0.5em;
    padding: 0.1875em;
    width: 2em;
    text-align: center;
}

.card.on-drag-hover {
    border: 0.125em dashed $alto;
 }

.cardjunction {
    height: 0.5em;
    transition: all 0.2s ease-in-out;
    &.top {
        height: 0;
    }
    &.active {
        height: 0.75em;
    }
    &.on-drag-hover {
        background-color: $alto;
        height: 6em;
        border-radius: 0.15em;
        border: 0.125em dashed $alto;
        margin-top: 0.375em;
        margin-bottom: 0.375em;
    }
}

.slate-card {
    background-color: $ziggurat;
    transition: background-color 0.2s ease-in-out;
    &:hover {
        background-color: darken($ziggurat, 5%);
    }
    .editable-click {
        border-bottom: 0.125em solid $white;
    }
}

.editable-click {
    color: $font-body-color;
    border-bottom: 0;
    &:hover, &:active, &:focus {
        color: initial;
        border-bottom-color: $white;
    }
}

.editable-buttons {
    display: block;
    .btn-primary {
        &:after {
            content: 'Save';
        }
    }
    .btn-default {
        @extend .btn-primary;
        background: $jungle-green;
        &:after {
            content: 'Cancel';
        }
    }
}

.editable-input {
    &.editable-has-buttons {
        width: 100%;
        outline: 0;
        border: 0;
        background: transparent;
        resize: none;
    }
}

// weird selector based on plugin for column titles
.editable-wrap .editable-controls>input {
    font-size: 1.75em;
}

.editable-controls, .editable-wrap {
    width: 100%;
    margin-bottom: 1em;
}

.trash {
    @include clearfix;
    @include span(12 of 12 omega);
    @media (min-width: 70em) {
        @include span(4 of 12);
    }
}

.card-pile-panel {
    @include clearfix;
    margin-top:  0.125em;
    background: $fiord;
    color: $white;
    a {
        color: $white;
        &:hover {
            text-decoration: none;
        }
    }
    border-bottom-right-radius: 0.1875em;
    border-bottom-left-radius: 0.1875em;
    text-align: center;
}

.dropdown {
    display: none;
    position: fixed;
    background-color: $alto;
    border-radius: 0.15em;
    transition: all 0.2s ease-in;
    li {
        a {
            display: block;
            &:hover {
                text-decoration: none;
            }
        }
        padding: 0.5em 1.5em;
        &:hover:first-child {
            background-color: $alto;
        }
        &:hover {
            background-color: darken($alto, 6%);
        }
    }
}
