.card {
    @include clearfix;
    cursor: grab;
    border-radius: 0.15em;
    font-weight: bold;
    width: 100%;
    position: relative;
    textarea {
        margin-left: 0.5em;
        margin-top: 0.5em;
    }
    .cardcontent pre {
        font-family: $font-body;
        margin: 0;
        padding: 1em;
        font-style: normal;
        border-bottom: 0.0625em solid $storm;
    }
    &:active {
        cursor: grabbing;
    }
}

.remove {
    text-align: center;
    position: absolute;
    top: -0.375em;
    right: -0.5625em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 1em;
    background: $brick;
    display: inline-block;
}

.card .attached-cards {
    float: left;
    background-color: $font-body-color;
    color: white;
    border-radius: 0.15em;
    font-weight: bold;
    font-size: 0.5em;
    padding: 0.1875em;
    width: 2em;
    text-align: center;
}

.card.on-drag-hover {
    border: 0.125em dashed $alto;
}

.cardjunction {
     height: 0.75em;
     transition: all 0.2s ease-in-out;
     &.on-drag-hover {
         height: 7em;
         border-radius: 0.15em;
         border: 0.125em dashed $storm;
         margin-top: 0.375em;
         margin-bottom: 0.375em;
     }
}

.slate-card {
    background-color: $cloudy-day;
    transition: background-color 0.2s ease-in-out;
    border: {
        top: 0.0625em solid $storm;
        right: 0.0625em solid $storm;
        left: 0.4em solid $storm;
        bottom: 0.0625em solid $storm;
    }
    &:hover {
        background-color: darken($cloudy-day, 5%);
    }
    &.locked {
        background-color: $detroit;
    }
}

.card-menu {
    background: $storm;
    font-size: 0.8em;
    @include span(12 of 12 omega);
    @include clearfix;
    &:hover {
        cursor: default;
    }
}

.card-menu-items {
    list-style-type: none;
    padding: 0;
    margin-left: 0.5em;
    li {
        padding: 0.5em 0;
        border-bottom: 0.0625em solid $cloudy-day;
        a {
            display: inline-block;
            padding: 0.5em;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    .x-list li {
        border-bottom: none;
        padding: 0;
        margin-top: 0.5em;
        margin-left: 0.5em;
    }
}

// card style colors
.swatch {
    height: 1.5em;
    width: 1.5em;
    border-radius: 1em;
}

.brick {
    border-left: 0.4em solid $brick;
    &.swatch {
        border: 0;
        background: $brick;
    }
}

.sea {
    border-left: 0.4em solid $sea;
    &.swatch {
        background: $sea;
    }
}

.ice {
    border-left: 0.4em solid $ice;
    &.swatch {
        background: $ice;
    }
}

.default {
    border-left: 0.4em solid $storm;
    &.swatch {
        border: 0.15em solid $white;
        background: $storm;
    }
}

.gold-money {
    border-left: 0.4em solid $gold-money;
    &.swatch {
        border: 0.15em solid $gold-money;
        background: $gold-money;
    }
}

.eggplant {
    border-left: 0.4em solid $eggplant;
    &.swatch {
        border: 0.15em solid $eggplant;
        background: $eggplant;
    }
}

.handle {
    padding: 0.5em;
    margin: 0;
    font-style: normal;
    color: $oxford;
    a {
        outline: none;
        display: inline-block;
        &:hover, &:active, &:focus {
            color: $flamingo;
            fill: $flamingo;
            font-style: normal;
            text-decoration: none;
        }
    }
}

.card-pile-panel {
    @include clearfix;
    margin-top:  0.125em;
    background: $fiord;
    font-size: 1.25em;
    color: $white;
    a {
        color: $white;
        &:hover, &:active, &:focus {
            text-decoration: none;
            outline: 0;
        }
    }
    border-bottom-right-radius: 0.1875em;
    border-bottom-left-radius: 0.1875em;
    text-align: center;
}

.editable-buttons {
    display: block;
    margin-bottom: 0.5em;
    .btn-primary {
        &:after {
            content: 'Save';
        }
    }
    .btn-default {
        @extend .btn-primary;
        background: $flamingo;
        &:after {
            content: 'Cancel';
        }
    }
}

.editable-empty {
    color: $storm;
    border-bottom: 0.0625em solid $storm;
    &:hover {
        color: $storm;
    }
}

.card-locked {
    padding: 1.5em;
    .icon-standard {
        width: 4em;
        height: 4em;
        display: block;
        margin: 0 auto;
    }
}
