.card-menu {
    background: darken($cloudy-day, 15%);
    width: 100%;
    float: left;
    li {
        margin-bottom: 0;
        border-bottom: 0.0625em solid darken($cloudy-day, 25%);
        font-weight: normal;
        a {
            display: block;
            &:hover {
                text-decoration: none;
            }
            padding: 0.5em;
        }
        &.info-title {
            padding: 0.5em;
            font-weight: bold;
            &:hover {
                background-color: darken($cloudy-day, 15%);
                cursor: pointer;
            }
            li {
                font-weight: bold;
                border-bottom: none;
                margin-bottom: 0.25em;
                padding-left: 0;
            }
        }
        &:hover {
            background-color: darken($cloudy-day, 17%);
            cursor: pointer;
        }
    }
}

.card {
    @include clearfix;
    cursor: grab;
    border-radius: 0.15em;
    font-weight: bold;
    width: 100%;
    max-width: 49.375em;
    textarea {
        margin-left: 0.5em;
        margin-top: 0.5em;
    }
    .cardcontent pre {
        font-family: $font-body;
        margin: 0;
        padding: 1em;
        font-style: normal;
        border-bottom: 0.0625em solid $storm;
    }
    &:active {
        cursor: grabbing;
    }
}

.card .attached-cards {
    float: left;
    background-color: $font-body-color;
    color: white;
    border-radius: 0.15em;
    font-weight: bold;
    font-size: 0.5em;
    padding: 0.1875em;
    width: 2em;
    text-align: center;
}

.card.on-drag-hover {
    border: 0.125em dashed $alto;
}

 .cardjunction {
     height: 0.5em;
     transition: all 0.2s ease-in-out;
     &.top {
         height: 0;
     }
     &.active {
         height: 0.75em;
     }
     &.on-drag-hover {
         background-color: $alto;
         height: 6em;
         border-radius: 0.15em;
         border: 0.125em dashed $alto;
         margin-top: 0.375em;
         margin-bottom: 0.375em;
     }
 }

.slate-card {
    background-color: $cloudy-day;
    transition: background-color 0.2s ease-in-out;
    border: {
        top: 0.0625em solid darken($cloudy-day, 5%);
        right: 0.0625em solid darken($cloudy-day, 5%);
        left: 0.4em solid darken($cloudy-day, 15%);
        bottom: 0.0625em solid darken($cloudy-day, 5%);
    }
    &:hover {
        background-color: darken($cloudy-day, 5%);
    }
    &.locked {
        background-color: $detroit;
    }
}

// card style colors
.brick {
    border-left-color: 0.4em solid $brick;
    &.swatch {
        background: $brick;
    }
}

.sea {
    border-left-color: 0.4em solid $sea;
    &.swatch {
        background: $sea;
    }
}

.ice {
    border-left-color: 0.4em solid $ice;
    &.swatch {
        background: $ice;
    }
}

.stormy-day {
    border-left-color: 0.4em solid darken($cloudy-day, 15%);
    &.swatch {
        border: 0.0625em solid $white;
        background: darken($cloudy-day, 15%);
    }
}

.handle {
    padding: 0.5em;
    margin: 0;
    font-style: normal;
    color: $fiord;
    a {
        outline: none;
        display: inline-block;
        &:hover, &:active, &:focus {
            color: $flamingo;
            fill: $flamingo;
            font-style: normal;
        }
    }
}

.card-pile-panel {
    @include clearfix;
    margin-top:  0.125em;
    background: $fiord;
    color: $white;
    max-width: 49.375em;
    a {
        color: $white;
        &:hover {
            text-decoration: none;
        }
    }
    border-bottom-right-radius: 0.1875em;
    border-bottom-left-radius: 0.1875em;
    text-align: center;
}

.editable-buttons {
    display: block;
    margin-left: 0.5em;
    .btn-primary {
        &:after {
            content: 'Save';
        }
    }
    .btn-default {
        @extend .btn-primary;
        background: $jungle-green;
        &:after {
            content: 'Cancel';
        }
    }
}

.editable-empty {
    color: $storm;
    border-bottom: 0.0625em solid $storm;
    &:hover {
        color: $storm;
    }
}

.card-locked {
    padding: 1.5em;
    .icon-standard {
        width: 4em;
        height: 4em;
        display: block;
        margin: 0 auto;
    }
}
