.card-menu {
    background: $alto;
    width: 100%;
    float: left;
    li {
        margin-bottom: 0;
        border-bottom: 0.0625em solid darken($alto, 6%);;
        a {
            display: block;
            &:hover {
                text-decoration: none;
            }
            padding: 0.5em 1.5em;
        }
        &:first-child {
            padding: 0.5em 1.5em;
        }
        &:hover:first-child {
            background-color: $alto;
            cursor: pointer;
        }
        &:hover {
            background-color: darken($alto, 6%);
            cursor: pointer;
        }
    }
}

.card {
    @include clearfix;
    cursor: grab;
    border-radius: 0.15em;
    font-weight: bold;
    width: 100%;
    max-width: 49.375em;
    textarea {
        margin-left: 0.5em;
        margin-top: 0.5em;
    }
    .cardcontent pre {
        font-family: $font-body;
        margin: 0;
        padding: 1em;
        font-style: normal
    }
    &:active {
        cursor: grabbing;
    }
}

.card .attached-cards {
    float: left;
    background-color: $font-body-color;
    color: white;
    border-radius: 0.15em;
    font-weight: bold;
    font-size: 0.5em;
    padding: 0.1875em;
    width: 2em;
    text-align: center;
}

.card.on-drag-hover {
    border: 0.125em dashed $alto;
 }

 .cardjunction {
     height: 0.5em;
     transition: all 0.2s ease-in-out;
     &.top {
         height: 0;
     }
     &.active {
         height: 0.75em;
     }
     &.on-drag-hover {
         background-color: $alto;
         height: 6em;
         border-radius: 0.15em;
         border: 0.125em dashed $alto;
         margin-top: 0.375em;
         margin-bottom: 0.375em;
     }
 }

.slate-card {
    background-color: $ziggurat;
    transition: background-color 0.2s ease-in-out;
    &:hover {
        background-color: darken($ziggurat, 5%);
    }
    .editable-click {
        border-bottom: 0.125em solid $white;
    }
}

.handle {
    padding: 0.5em;
    margin: 0;
    transition: all 0.2s ease-in;
    font-style: normal;
    &:hover, &:active, &:focus {
        color: $flamingo;
        fill: $flamingo;
        font-style: normal;
    }
    .icon-left {
        width: 1.25em;
    }
}

.handle--last {
    @extend .handle;
    float: right;
}

.handle--first {
    @extend .handle;
    float: left;
}

.card-pile-panel {
    @include clearfix;
    margin-top:  0.125em;
    background: $fiord;
    color: $white;
    max-width: 49.375em;
    a {
        color: $white;
        &:hover {
            text-decoration: none;
        }
    }
    border-bottom-right-radius: 0.1875em;
    border-bottom-left-radius: 0.1875em;
    text-align: center;
}

.dropdown {
    display: none;
    position: fixed;
    background-color: $alto;
    border-radius: 0.15em;
    transition: all 0.2s ease-in;
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
    li {
        margin-bottom: 0;
        border-bottom: 0.0625em solid darken($alto, 6%);
        a {
            display: block;
            &:hover {
                text-decoration: none;
            }
            padding: 0.5em 1.5em;
        }
        &:first-child {
            padding: 0.5em 1.5em;
            border-color: darken($alto, 25%);
        }
        &:hover:first-child {
            background-color: $alto;
        }
        &:hover {
            background-color: darken($alto, 6%);
            cursor: pointer;
        }
    }
}

.editable-buttons {
    display: block;
    margin-left: 0.5em;
    .btn-primary {
        &:after {
            content: 'Save';
        }
    }
    .btn-default {
        @extend .btn-primary;
        background: $jungle-green;
        &:after {
            content: 'Cancel';
        }
    }
}
