.flag {
    display: table;
    width: 100%;
    max-width: 35em;
    overflow: hidden;
    border-radius: 0.15em;
    margin-bottom: 1.5em;
    font-weight: bold;
    transition: all 0.2s ease-in;
    background: $cloudy-day;
    svg {
        display: block;
    }
}

.flag__body, .flag__media, .flag__close {
    display: table-cell;
    vertical-align: middle;
    padding: 1em;
}

.flag__body {
    width: 100%;
}

.flag__media, .flag__close {
    text-align: center;
}

// Alert message styles
.flag__media--alert {
    @extend .flag__media;
    background: $brick;
}

// Success message styles
.flag__media--success {
    @extend .flag__media;
    background: $sea;
}
