.flag {
    display: table;
    width: 100%;
    overflow: hidden;
    border-radius: 0.15em;
    margin-bottom: 1.5em;
    font-weight: bold;
    transition: all 0.2s ease-in;
    svg {
        display: block;
    }
}

.flag-body, .flag-media, .flag-close {
    display: table-cell;
    vertical-align: middle;
    padding: 1em;
}

.flag-body {
    width: 100%;
}

.flag-media, .flag-close {
    text-align: center;
}

// Alert message styles
.flag-media--alert {
    @extend .flag-media;
    background: $brick;
}

.flag--alert {
    @extend .flag;
    background: lighten($brick, 30%);
}

// Success message styles
.flag-media--success {
    @extend .flag-media;
    background: $sea;
}

.flag--success {
    @extend .flag;
    background: $sea;
}
