// Lucidboard svg logo
.icon-logo {
    float: left;
    margin: 0.25em;
    width: 3em;
    height: 3em;
}

.icon-trash {
    float: left;
    margin-right: 0.25em;
    width: 1.5em;
    height: 1.5em;
}
