.icon-logo {
    float: left;
    width: 16em;
}

.icon-left {
    float: left;
    margin-right: 0.25em;
    width: 1.25em;
}

.icon-middle {
    width: 7em;
    height: 7em;
    display: inline-block;
}

.icon-standard {
    height: 1em;
    outline: none;
}
