.icon-standard {
    width: 1em;
    outline: none;
    height: 100%;
}

.icon-left {
    float: left;
    margin-right: 0.25em;
}

.icon-logo {
    @extend .icon-standard;
    width: 16em;
}

.icon-middle {
    @extend .icon-standard;
    display: block;
    margin: 0 auto;
}

.icon-middle-small {
    @extend .icon-middle;
    width: 7em;
    height: 7em;
}

.icon-middle-large {
    @extend .icon-middle;
    width: 32em;
    height: 16em;
}
