.header-bar {
    @include clearfix;
    @include span(12 of 12 omega);
    padding: 1em 0;
    margin-bottom: 0.5em;
    h1 {
        margin-bottom: 0;
    }
    a {
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }
    @media (min-width: 70em) {
        padding: 1em 1.5em;
    }
}

// Use for tabbed list
.nav-sub {
    @include clearfix;
    color: $white;
    @include span(12 of 12 omega);
    margin-bottom: 1.5em;
    a {
        color: $white;
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }
    > li {
        background: $brand-dull;
        padding: 1em;
        @media (min-width: 40em) {
            display: inline-block;
            margin-bottom: 0;
        }
    }
}
