module.exports = {
  // port: 8888,
  // connections: { redis: { database: 2 } },

  app: {
    /*
     * Sigin methods:
     *
     *   - ldap: edit config/ldap.js to configure
     *   - dumb: username input only
     */
    signin: 'ldap',
  },

  // This app config stuff should not to leak from the backend
  appSecret: {
    adminMakerEnabled:  true,        // Is the admin delegation screen available?
    adminMakerPassword: 'changeme',  // admin delegation password
  }

};
