<div class="board-settings">
  <form data-ng-submit="submit()">
    <label for="title">Title</label>
    <input id="title" type="text" data-ng-model="b.title">
    <label for="votesPerUser">Max Votes Per User (0 is &#8734;)</label>
    <input id="votesPerUser" type="text" data-ng-model="b.votesPerUser" size="2">
    <h4>Participants Can:</h4>
    <div class="suboptions">
      <label for="p_seeVotes">See Votes</label>
      <input id="p_seeVotes" type="checkbox" data-ng-model="b.p_seeVotes">
      <label for="p_seeContent">See Card Content</label>
      <input id="p_seeContent" type="checkbox" data-ng-model="b.p_seeContent">
      <label for="p_combineCards">Combine Cards</label>
      <input id="p_combineCards" type="checkbox" data-ng-model="b.p_combineCards">
      <label for="p_lock">Actually not do anything</label>
      <input id="p_lock" type="checkbox" data-ng-model="b.p_lock">
    </div>
    <div class="clearer"></div>
    <input class="submit" type="submit"
      value="{{b.id ? 'Update' : 'Create'}} Board">
  </form>
</div>
