<div
     class="card slate-card {{card.color || 'default'}}"
     data-ng-class="{active:view.cardDragging,'animate-shake':card.shake}"
     data-ng-show="card"
     data-ui-draggable="{{board.locks.length === 0}}"
     data-drag="card"
     data-drag-channel="card"
     data-drop-channel="card"
     data-on-drop-success="dropSuccessHandler($event)"
     data-ui-on-drop="combineThings($event, $data, card.id)">
     <div data-ng-show="(card.userCanWrite || !board.p_lock) && !card.lockedByAnother">
         <div class="cardcontent"
             data-e-form="editform"
             data-ng-click="editorShow()"
             data-ng-hide="isEditorVisible()"
             data-editable-textarea="card.content"
             data-onshow="getCardLock()"
             data-onhide="endCardLock()"
             data-onbeforesave="checkCardContent($data, column.id, card.id)"
             data-ng-disabled="true">
             <pre data-ng-show="card.content && (card.userCanWrite || board.p_seeContent)">
{{card.content}}
            </pre>
            <pre data-ng-show="card.content && !card.userCanWrite && !board.p_seeContent">
{{card.content | obfuscated}}
            </pre>
            <pre data-ng-show="!card.content">
Enter note...
            </pre>
        </div>
        <a href="#" class="remove" data-ng-show="isEditorVisible()" data-ng-click="moveTo(board.trash, true)">
            <svg class="icon-alert" fill="#ffffff">
                <desc>Delete Icon</desc>
                <use xlink:href="#cancel-circle"></use>
            </svg>
        </a>
        <div data-ng-hide="isEditorVisible()" class="handle aside-right">
            <a href="#" data-ng-click="view.cardMenu.switch(card.id, $event)">
                <svg class="icon-standard">
                    <desc>Card menu toggle icon</desc>
                    <use xlink:href="#site-menu"></use>
                </svg>
            </a>
        </div>
        <div class="handle aside-left" title="{{card.myVoteCount}}"
          data-ng-show="!isEditorVisible() && board.votesEnabled">
            <a href="#" data-ng-click="upvote($event)" data-ng-class="{'brand-color': false}">
                <svg class="icon-standard aside-left" data-ng-class="{'animate-pop': votePop}">
                    <desc>Card upvote icon</desc>
                    <use xlink:href="#heart"></use>
                </svg>
                <span data-ng-show="board.seeVotes">
                    {{card.votes.length}}
                </span>
                <span data-ng-show="!board.seeVotes && card.myVoteCount">
                    ({{card.myVoteCount}})
                </span>
            </a>
        </div>
        <div class="card-menu" data-ng-show="view.cardMenu.current === card.id">
            <div style="float:right" data-ng-show="card.myVoteCount">
              <a href="#" data-ng-click="unupvote()">Unupvote</a>
            </div>
            <ul class="card-menu-items" role="menu">
                <li>
                    Card Color
                    <ul class="x-list" role="menu">
                        <li>
                            <a href="#" class="sea swatch" data-ng-click="color('sea')"></a>
                        </li>
                        <li>
                            <a href="#" class="brick swatch" data-ng-click="color('brick')"></a>
                        </li>
                        <li>
                            <a href="#" class="ice swatch" data-ng-click="color('ice')"></a>
                        </li>
                        <li>
                            <a href="#" class="gold-money swatch" data-ng-click="color('gold-money')"></a>
                        </li>
                        <li>
                            <a href="#" class="eggplant swatch" data-ng-click="color('eggplant')"></a>
                        </li>
                        <li>
                            <a href="#" class="default swatch" data-ng-click="color('default')"></a>
                        </li>
                    </ul>
                </li>
                <li data-ng-show="board.columns.length > 2 || column.position === 0">
                    Move Card To
                    <div data-ng-repeat="col in board.columns">
                        <a class="pointer" role="menuitem" tabindex="1"
                          data-ng-show="col.title !== column.title && col.position !== 0"
                          data-ng-click="moveTo(col)" href="#"
                          >
                            {{col.title}}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div data-ng-show="!card.userCanWrite && board.p_lock && !card.lockedByAnother">
        <div class="cardcontent">
            <pre data-ng-show="card.content && (card.userCanWrite || board.p_seeContent)">
{{card.content}}
            </pre>
            <pre data-ng-show="card.content && !card.userCanWrite && !board.p_seeContent">
{{card.content | obfuscated}}
            </pre>
            <pre data-ng-show="!card.content">
Empty
            </pre>
        </div>
    </div>
    <div class="card-locked" data-ng-show="card.lockedByAnother">
        <svg class="icon-standard">
            <desc>Card is locked loading icon</desc>
            <use xlink:href="#typing"></use>
        </svg>
    </div>
</div>
