<div class="cardjunction top" data-ng-show="!card || card.position === 1"
  data-ng-class="{active:cardDragging}"
  data-ui-on-drop="moveCard($event, $data, column.cards, column.id, 1)">
</div>
<div class="card slate-card" data-ng-show="card"
  data-ui-draggable="true" data-drag="card"
  data-on-drop-success="dropSuccessHandler($event)"
  data-ng-class="{active:cardDragging}"
  data-ui-on-drop="combineCards($event, $data, card.id)">
  <div data-ng-show="card.userCanWrite || !board.p_lock()">
    <div class="cardcontent"
      data-editable-textarea="card.content"
      data-onbeforesave="checkCardContent($data, column.id, card.id)">
      <pre data-ng-show="card.content && (card.userCanWrite || board.p_seeContent())">
          {{card.content}}
      </pre>
      <pre data-ng-show="card.content && !card.userCanWrite && !board.p_seeContent()">
          {{card.content | obfuscated}}
      </pre>
      <pre data-ng-show="!card.content">
          empty
      </pre>
    </div>
  </div>
  <div data-ng-show="!card.userCanWrite && board.p_lock()">
    <div class="cardcontent">
      <pre data-ng-show="card.content && (card.userCanWrite || board.p_seeContent())">
          {{card.content}}
      </pre>
      <pre data-ng-show="card.content && !card.userCanWrite && !board.p_seeContent()">
          {{card.content | obfuscated}}
      </pre>
      <pre data-ng-show="!card.content">
          empty
      </pre>
    </div>
  </div>
  <div class="attached-cards" ng-show="card.attached">
    &nbsp;{{card.attached + 1}}&nbsp;
  </div>
  <p class="handle" title="Your votes: {{card.votes | myVotes}}">
    <span ng-show="board.p_seeVotes()">
      <strong>
          {{card.votes.length}}
      </strong>
      vote{{card.votes.length === 1 ? '' : 's'}}
    </span>
    (<a href="#" data-ng-click="upvote(card, $event)">Upvote</a>)
  </p>
</div>
<div class="cardjunction" data-ng-show="card"
  data-ng-class="{active:cardDragging}"
  data-ui-on-drop="moveCard($event, $data, column.cards, column.id,
    card.id === $data.id ? card.position : card.position + 1)">
</div>
