<div class="card-slot">
    <card data-board="board" data-card="getTopCard()"
      data-board="board" data-column="column" data-index="index"
      data-card-dragging="view.cardDragging">
    </card>
    <div class="card-pile-panel" data-ui-draggable="true" data-drag-channel="card"
        data-drag="{pile: true, sourceColumnId: column.id, sourcePosition: pile[0].position}">
        <a href="#" data-ng-click="back()">
            <svg class="icon-small">
                <desc>Left Arrow</desc>
                <use xlink:href="#left-caret"></use>
            </svg>
        </a>
        {{curCard}} / {{pile.length}}
        <a href="#" data-ng-click="forward()">
            <svg class="icon-small">
                <desc>Right Arrow</desc>
                <use xlink:href="#right-caret"></use>
            </svg>
        </a>
    </div>
</div>
