<h4 class="underline">Current Columns</h4>
<ul class="y-list-color">
    <li
      data-ng-if="c.position !== 0"
      data-ng-repeat-start="c in board.columns"
      >
        <a href="#" class="clear-title"
          data-ui-draggable="true"
          data-drag="c"
          data-drag-channel="column"
          >
            <svg
              data-ng-show="board.columns.length > 2"
              data-ng-click="getDeleteConfirm(c)"
              class="icon-standard icon-small aside-left"
              fill="#ffffff"
              >
                <desc>Delete Icon</desc>
                <use xlink:href="#minus-alt"></use>
            </svg>
            <span data-editable-text="c.title" data-buttons="no" data-e-maxlength="25"
              data-onbeforesave="checkColumnTitle($data, c.id)"
              >
                {{c.title}}
            </span>
            <svg class="aside-right icon-standard" fill="#ffffff">
                <desc>Move Menu icon</desc>
                <use xlink:href="#menu2"></use>
            </svg>
            <div class="item-delete" data-ng-show="deleteToggles[c.id]"
              data-ng-click="deleteColumn(c)"
              >
                Delete {{c.title}}
            </div>
        </a>
    </li>
    <li data-ng-repeat-end>
      <div class="columnlistjunction"
        data-drop-channel="column"
        data-ng-class="{active:view.columnDragging}"
        data-ui-on-drop="moveColumn($data, c.position + 1)">
      </div>
    </li>
</ul>
<form data-ng-submit="createColumn()">
<ul class="form-fields">
  <li>
    <h4 class="underline">Add New Column</h4>
    <input type="text" data-ng-model="title" placeholder="Column Title">
    <p data-ng-show="error">A column title is required.</p>
  </li>
  <li>
    <input type="submit" value="Create New Column" class="btn">
  </li>
</ul>
</form>
