<div>
  <svg class="aside-left icon-standard" fill="#ffffff" data-ng-class="{'animate-pop': clockPop}">
    <desc>Board Clock Timer Icon</desc>
    <use xlink:href="#clock"></use>
  </svg>
  {{timer.remaining | secondsToMinutes}}
  <span data-ng-show="showForm">
    <input class="text-input-clear mlm" type="text" size="4" data-ng-model-options="{ getterSetter: true }" data-ng-model="timer.startMinutes" data-ng-click="preventDefault($event)">
    <span class="outline mlm" data-ng-show="showTimerStart" data-ng-click="timerStart($event, timerMinutesInput); clockPop = !clockPop">
      Start
    </span>
    <span href="#" class="outline mlm" data-ng-show="!showTimerStart" data-ng-click="timerPause($event); clockPop = !clockPop">
      Pause
    </span>
    <span href="#" class="outline mlm" data-ng-click="timerReset($event); clockPop = !clockPop">
      Reset
    </span>
  </span>
</div>