<div class="tier">
    <section class="panel--half">
        &laquo; <a href="/boards">Back to Boards</a>
        <h1 class="gamma heading-underline">
            {{type}} Boards
        </h1>
        <ul class="form-fields">
            <li>
                <input type="text" data-ng-model="query" placeholder="Filter boards">
            </li>
        </ul>
        <ul class="y-list--color">
          <li data-ng-repeat="b in boards | filter:query">
            <boardlist-item board="b" deletable="user.admin && b.archived"></boardlist-item>
          </li>
        </ul>
    </section>
</div>
