<div class="tier">
    <section class="panel-half">
        &laquo; <a href="/boards">Back to Boards</a>
        <h1 class="gamma heading-underline">
            Archived Boards
        </h1>
        <ul class="form-fields">
            <li>
                <input type="text" data-ng-model="query" placeholder="Filter boards">
            </li>
        </ul>
        <ul class="y-list-color">
          <li data-ng-repeat="b in boards | filter:query">
            <a href="/boards/{{b.id}}">
              {{b.title}}
              <small style="float:right">by {{b.creatorUsername}}</small>
            </a>
            <a href="" data-ng-click="confirmDelete(b)"
              data-ng-show="user.admin && b.archived">
              Delete Board
            </a>
          </li>
        </ul>
    </section>
</div>
