<div class="tier">
    <section class="panel-half">
        &laquo; <a href="/boards">Back to Boards</a>
        <h1 class="gamma heading-underline">
            Archived Boards
        </h1>
        <p>
          <input type="text" data-ng-model="query" placeholder="Filter by"
            style="width: 100%" autofocus>
        </p>
        <ul class="y-list-color">
          <li data-ng-repeat="b in boards | filter:query">
            <a href="/boards/{{b.id}}">
              {{b.title}}
              <small style="float:right">by {{b.creatorUsername}}</small>
            </a>
          </li>
        </ul>
    </section>
</div>
