<div id="resizer-wrapper">
  <div id="main-content" data-resizer-top><div>
    <div style="float:right">
      <div class="timer">
        <button data-ng-click="timerStart()">Start</button>
        <span>{{timerLeft | formatTime}}</span>
      </div>
      <div class="trashbutton">
        <img src="/images/ios7-trash.svg" width="48" height="48" alt="Trash">
      </div>
    </div>

    <h2>{{board.title()}}</h2>

    <form data-ng-controller="NewColumnCtrl" data-ng-submit="createColumn()">
      <input type="text" data-ng-model="title">
      <input type="submit" value="Create Column">
    </form>

    <div class="column" data-ng-repeat="column in board.columns()"
      style="width:{{95 / (board.columns().length)}}%">
      <h3 data-editable-text="column.title" data-buttons="no"
        onbeforesave="checkColumnTitle($data, column.id)">
        {{column.title}}
      </h3>
      <div class="cardstack">
        <card data-ng-show="column.cards.length === 0"
          board="board" card="null" column="column"
          card-dragging="cardDragging">
        </card>
        <card data-ng-repeat="card in column.cards track by $index"
          board="board" card="card" column="column" index="$index"
          card-dragging="cardDragging">
        </card>
      </div>
      <a class="create-card" data-ng-click="createCard(column)" href="#">+</a>
    </div>
  </div></div>

  <div id="bottom-pane" data-resizer-bottom>
    <div class="log" data-ng-show="currentTab === 'log'">
      <div data-log></div>
    </div>
    <div class="trash" data-ng-show="currentTab === 'trash'">
      <card data-ng-repeat="card in board.trash().cards track by $index"
        board="board" card="card" column="board.trash()" index="$index">
      </card>
    </div>
  </div>
</div>

<div id="content-resizer" data-resizer="horizontal" data-resizer-height="6">
  <ul class="tabber">
    <li class="tab" data-ng-class="{active:currentTab === 'log'}">
      <a data-ng-click="switchTab('log')">Log</a>
    </li>
    <li class="tab" data-ng-class="{active:currentTab === 'trash'}">
      <a data-ng-click="switchTab('trash')">Trash ({{board.trash().cards.length}})</a>
    </li>
    <div class="clearer"></div>
  </ul>
</div>
