<div class="board-info">
    <div data-ng-show="showTimerForm">
        <label for="timerMinutesInput">Minutes
            <input id="timerMinutesInput" name="timerMinutesInput" type="text" size="4"
            data-ng-model="timerMinutesInput">
        </label>
        <button data-ng-click="timerStart(timerMinutesInput)" class="btn">
            Start
        </button>
    </div>
    <div data-ng-click="showTimerForm = !showTimerForm">
        <span>
            {{timerLeft | formatTime}} remaining
        </span>
    </div>
    <div data-ng-show="board.votesPerUser() !== 0">
        {{board.votesRemaining()}} vote{{board.votesRemaining() === 1 ? '' : 's'}}
        remaining
    </div>
</div>
<div class="board-header">
    <ul class="tabs">
        <li>
            <a href="#" data-ng-click="switchTab('board')" data-ng-class="{active:currentTab === 'board'}">
                <svg class="icon-left" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
                    <path d="M15.6 2l-1.2 3h-8.8l-1.2-3c-0.77 0-1.4 0.63-1.4 1.4v15.2c0 0.77 0.63 1.4 1.4 1.4h11.2c0.771 0 1.4-0.63 1.4-1.4v-15.2c0-0.77-0.63-1.4-1.4-1.4zM13.6 4l0.9-2h-2.18l-0.72-2h-3.2l-0.72 2h-2.18l0.9 2h7.2z" fill="#333333"></path>
                </svg>
                {{board.title()}}
            </a>
        </li>
        <li>
            <a href="#" data-ng-click="switchTab('settings')" data-ng-class="{active:currentTab === 'settings'}">
                <svg class="icon-left" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
                    <path d="M16.785 10c0-1.048 0.645-1.875 1.615-2.443-0.176-0.584-0.406-1.145-0.691-1.672-1.090 0.285-1.971-0.142-2.711-0.882-0.742-0.741-0.969-1.623-0.684-2.711-0.527-0.285-1.086-0.518-1.672-0.692-0.568 0.971-1.595 1.616-2.642 1.616s-2.073-0.645-2.642-1.616c-0.586 0.174-1.145 0.407-1.672 0.691 0.284 1.089 0.058 1.971-0.683 2.712s-1.623 1.167-2.711 0.883c-0.285 0.526-0.517 1.087-0.692 1.671 0.971 0.568 1.616 1.395 1.616 2.443 0 1.047-0.645 2.074-1.616 2.643 0.175 0.585 0.407 1.145 0.692 1.672 1.089-0.285 1.97-0.058 2.711 0.683s0.967 1.622 0.683 2.711c0.527 0.285 1.087 0.518 1.672 0.692 0.569-0.972 1.595-1.616 2.642-1.616s2.075 0.645 2.643 1.616c0.586-0.175 1.145-0.407 1.672-0.692-0.285-1.089-0.059-1.97 0.684-2.711 0.74-0.74 1.621-1.167 2.711-0.883 0.285-0.527 0.516-1.087 0.691-1.672-0.971-0.569-1.616-1.396-1.616-2.443zM10 13.653c-2.017 0-3.652-1.636-3.652-3.653s1.635-3.653 3.652-3.653c2.018 0 3.653 1.636 3.653 3.653s-1.635 3.653-3.653 3.653z" fill="#333333"></path>
                </svg>
                Settings
            </a>
        </li>
        <li>
            <a href="#" data-ng-click="switchTab('columns')" data-ng-class="{active:currentTab === 'columns'}">
                <svg class="icon-left" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26" height="28" viewBox="0 0 26 28">
                    <path d="M2.5 24h9.5v-18h-10v17.5q0 0.203 0.148 0.352t0.352 0.148zM24 23.5v-17.5h-10v18h9.5q0.203 0 0.352-0.148t0.148-0.352zM26 4.5v19q0 1.031-0.734 1.766t-1.766 0.734h-21q-1.031 0-1.766-0.734t-0.734-1.766v-19q0-1.031 0.734-1.766t1.766-0.734h21q1.031 0 1.766 0.734t0.734 1.766z" fill="#333333"></path>
                </svg>
                Columns
            </a>
        </li>
        <li>
            <a href="#" data-ng-click="switchTab('trash')" data-ng-class="{dropready:cardDragging, active:currentTab === 'trash'}"
                data-ui-on-drop="moveCard($event, $data, board.trash().cards, board.trash().id,
                board.nextPositionByColumnId(board.trash().id))">
                <svg class="icon-left" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                    <path d="M8 26c0 1.656 1.343 3 3 3h10c1.656 0 3-1.344 3-3l2-16h-20l2 16zM19 13h2v13h-2v-13zM15 13h2v13h-2v-13zM11 13h2v13h-2v-13zM25.5 6h-6.5c0 0-0.448-2-1-2h-4c-0.553 0-1 2-1 2h-6.5c-0.829 0-1.5 0.671-1.5 1.5s0 1.5 0 1.5h22c0 0 0-0.671 0-1.5s-0.672-1.5-1.5-1.5z" fill="#333333"></path>
                </svg>
                Trash ({{board.trash().cardSlots.length}})
            </a>
        </li>
    </ul>
</div>
<div class="board" data-ng-show="currentTab === 'board'">
    <div class="columns">
        <div class="column" data-ng-repeat="column in board.columns()">
            <ul class="y-list">
                <li>
                    <h3 class="delta column-title" data-editable-text="column.title" data-buttons="no"
                        onbeforesave="checkColumnTitle($data, column.id)">
                        {{column.title}}
                    </h3>
                </li>
                    <div class="cardjunction top"
                        data-ng-class="{active:cardDragging}"
                        data-ui-on-drop="moveCard($event, $data, column.cards, column.id, 0)">
                    </div>
                </li>
                <li>
                    <card-slot data-ng-repeat-start="slot in column.cardSlots track by $index"
                        board="board" item="slot" column="column" index="$index">
                    </card-slot>
                    <div data-ng-repeat-end class="cardjunction"
                        data-ng-class="{active:cardDragging}"
                        data-ui-on-drop="moveCard($event, $data, column.cards, column.id, slot[0].position)">
                        <!-- deleteme, pls
                        slot.id === $data.id ? slot.position : slot.position + 1)">
                        -->
                    </div>
                </li>
                <li>
                    <a class="btn-full" data-ng-click="createCard(column)" href="#">Add New Card</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div data-ng-show="currentTab === 'settings'" class="panel-board-settings">
    <div data-ng-show="b.id" class="board-info">
      <a href="/boards/{{b.id}}/export/csv">
          <svg class="icon-left" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="32" viewBox="0 0 24 32">
              <path d="M14 0h-14v32h24v-22.002l-10-9.998zM4 28v-24h8v8h8v16h-16z" fill="#0C73E8"></path>
          </svg>
          Export to CSV
      </a>
    </div>
    <board-settings class="panel-board-settings-half" board="board"></board-settings>
</div>
<div data-ng-show="currentTab === 'columns'" class="panel-board-settings">
    <edit-columns board="board"></edit-columns>
</div>
<div class="trash" data-ng-show="currentTab === 'trash'"
    data-ng-class="{dropready:cardDragging}"
    data-ui-on-drop="moveCard($event, $data, board.trash().cards, board.trash().id,
    board.nextPositionByColumnId(board.trash().id))">
    <card data-ng-repeat="card in board.trash().cards track by $index"
        board="board" card="card" column="board.trash()" index="$index">
    </card>
</div>
