<div class="board-container">
    <div class="tier">
        <div class="flag hide">
            <div class="flag__media--alert">
                <svg class="icon-alert" fill="#ffffff">
                    <desc>Board Clock Timer Icon</desc>
                    <use xlink:href="#clock"></use>
                </svg>
            </div>
            <div class="flag__body">
                Time's up!
            </div>
        </div>
    </div>
    <div class="tier" data-ng-show="view.tab.current === 'board'">
        <div class="column-container">
            <div class="columnjunction" data-ng-class="{active:view.columnDragging}"
              data-ng-show="view.column.isAll()"
              data-ui-on-drop="moveColumn($data, 1)"
              data-drop-channel="column">
            </div>
            <div class="column"
              data-ng-repeat-start="column in board.columns"
              data-ng-show="getColumnViewState(column.id, column.position, columnViewSelected)">
                <ul class="form-fields--blank">
                    <li class="brand-underline">
                        <h4 class="mbn delta overflow-ellipsis"
                            data-ng-if="board.isFacilitator && column.position !== 0"
                            data-editable-text="column.title"
                            data-buttons="no"
                            data-onbeforesave="checkColumnTitle($data, column.id)"
                            data-ui-draggable="true"
                            data-drag="column"
                            data-ng-class="{active:view.columnDragging}"
                            data-drag-channel="column"
                            data-e-maxlength="25"
                            >
                            {{column.title}}
                        </h4>
                        <h4 class="mtn mbn"
                            data-ng-if="!board.isFacilitator || column.position === 0"
                            >
                            {{column.title}}
                        </h4>
                    </li>
                    <li>
                        <div class="cardjunction top"
                            data-drop-channel="card"
                            data-ng-class="{active:view.cardDragging}"
                            data-ui-on-drop="moveSlot($event, $data, column.cardSlots, column.id, 1)">
                        </div>
                    </li>
                    <li>
                        <card-slot data-ng-repeat-start="slot in column.cardSlots track by $index"
                            item="slot" column="column" index="$index">
                        </card-slot>
                        <div data-ng-repeat-end class="cardjunction"
                            data-drop-channel="card"
                            data-ng-class="{active:view.cardDragging}"
                            data-ui-on-drop="moveSlot($event, $data, column.cardSlots, column.id, slot[0].position + 1)">
                        </div>
                    </li>
                    <li>
                        <button class="btn" data-ng-click="createCard(column)"
                          data-ng-show="column.position !== 0 && !board.weHaveCardLocks && (board.isFacilitator || !board.p_lock)"
                          >
                            Add Card
                        </button>
                        <span class="aside-right font--muted" data-ng-show="column.cardCount > 0">
                          {{column.cardCount}} Card{{column.cardCount > 1 ? 's' : ''}}
                        </span>
                    </li>
                </ul>
            </div>
            <div class="columnjunction"
              data-ng-repeat-end
              data-ng-show="view.column.isAll()"
              data-drop-channel="column"
              data-ng-class="{active:view.columnDragging}"
              data-ui-on-drop="moveColumn($data, column.position + 1)">
            </div>
        </div>
    </div>
    <div data-ng-show="view.tab.current === 'settings'" class="tier--padded">
        <board-settings class="panel"></board-settings>
    </div>
</div>
