<div class="tier">
    <section class="panel--half">
        <h1 class="gamma heading-underline">
            Boards
        </h1>
        <ul class="form-fields">
            <li class="mbn">
                <label for="filter">
                    Filter Boards
                </label>
                <input name="filter" type="text" data-ng-model="query" placeholder="Filter">
            </li>
        </ul>
        <ul class="form-fields list_x--inline mbl">
            <li>
                <input id="type-normal" type="radio" name="type" value="normal" data-ng-model="type">
                <label for="type-normal" class="mls mrm">
                    Normal
                </label>
            </li>
            <li>
                <input id="type-archived" type="radio" name="type" value="archived" data-ng-model="type"
                  data-ng-show="archivedBoardsExist">
                <label for="type-archived" data-ng-show="archivedBoardsExist" class="mls mrm">
                    Archived
                </label>
            </li>
            <li>
                <input id="type-private" type="radio" name="type" value="private" data-ng-model="type"
                  data-ng-show="user.admin && privateBoardsExist">
                <label for="type-private" data-ng-show="user.admin && privateBoardsExist">
                    Private
                </label>
            </li>
            <li>
                <input id="type-all" type="radio" name="type" value="all" data-ng-model="type">
                <label for="type-all" class="mls">
                    All
                </label>
            </li>
        </ul>
        <ul class="list_y--color">
          <li data-ng-repeat="b in boards | filter:query | filter:myFilter">
            <boardlist-item board="b"></boardlist-item>
          </li>
        </ul>
    </section>
    <section class="panel--half last">
        <h1 class="gamma heading-underline">
            Create New Board
        </h1>
        <board-settings></board-settings>
    </section>
</div>
