<div class="tier">
    <section class="panel-half">
        <h1 class="gamma heading-underline">
            Boards
        </h1>
        <ul class="form-fields">
            <li>
                <label for="filter">Filter Boards</label>
                <input name="filter" type="text" data-ng-model="query" placeholder="Filter boards">
            </li>
        </ul>
        <ul class="y-list-color">
          <li data-ng-repeat="b in boards | filter:query">
            <a href="/boards/{{b.id}}">
              {{b.title}}
              <small class="small-muted">{{b.createdAt | formatDate}}</small>
              <small class="aside-right">{{b.creatorUsername}}</small>
            </a>
          </li>
        </ul>
        <div>&laquo; <a href="/boards/where/archived">Archived Boards</a></div>
        <div data-ng-if="user.admin">&laquo; <a href="/boards/where/private">Private Boards</a></div>
    </section>
    <section class="panel-half last">
        <h1 class="gamma heading-underline">
            Create New Board
        </h1>
        <board-settings></board-settings>
    </section>
</div>
