<div class="tier">
    <section class="panel--half">
        <h1 class="gamma">
            Current Boards
        </h1>
        <ul class="y-list-color">
          <li data-ng-repeat="b in boards">
            <a href="/boards/{{b.id}}">
              {{b.title}}
            </a>
          </li>
        </ul>
    </section>
    <section class="panel--half last">
        <h1 class="gamma">
            Create New Board
        </h1>
        <board-settings ></board-settings>
    </section>
</div>
