<section class="main-container">
    <div class="main-container-content">
      <h1 class="beta">Active Boards</h1>
      <ul class="y-list-color">
        <li data-ng-repeat="b in boards">
          <a href="/boards/{{b.id}}">
              {{b.title}}
          </a>
        </li>
      </ul>
      <div class="panel-board-settings">
          <button class="btn">
              Add A New Board
          </button>
          <board-settings class="hide"></board-settings>
      </div>
    </div>
</section>
