<section class="main-container-padded">
    <img class="main-container-half-media" src="http://placekitten.com/g/500/300">
    <h1 class="main-container-half main-container-heading beta">An awesome way for teams to discuss their thoughts and ideas.</h1>
</section>
<section class="main-container-padded main-container-padded-stri">
    <h1 class="main-container-half main-container-heading beta">Simple, Clean and Productive</h1>
    <img class="main-container-half-media" src="http://placekitten.com/g/500/300">
</section>
<section class="main-container-padded">
    <img class="main-container-half-media" src="http://placekitten.com/g/500/300">
    <h1 class="main-container-half main-container-heading beta">Team members can upvote topics that they think are most important.</h1>
</section>
